@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@400;500&display=swap');
.dark-theme-variables{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0,0,0,0,0.40);
    --box-shadow:0 2rem 3rem var(var(--color-light));


}

:root{
    --color-background:#f6f6f9;
    --color-white:#fff;
    --color-dark:#363949;
    --color-dark-variant:#677483;
    --color-light: rgba(132, 139, 200, 0, 0.18);
    --box-shadow:0 2rem 3rem var(--color-light);
    --light: #7d8da1;
    --side-color:#fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color:var(--color-background);
    height: 100%;
    color: var(--color-dark);
    width: 100%;
}

.container {
    
     height: 100%;
     width: 100%;
    




}

aside {
    height: 80px;
    margin-bottom: 10px;
    background-color: var(--color-background);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.11);
}
  

.nav {
    color:var(--color-dark);
    position: fixed;
    width: 100%;
    height: 80px;
    gap: 3rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    border-radius: 10px;
    background-color:var(--color-white);
    /* flex-direction: column; */
    box-shadow: var(--box-shadow);
}

.top {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 20px;

}

.close-btn {
    display: none;


}
.img-logo{
    height: 60px;
}

.logo {
    transition: all 500ms ease;
}

.logo:hover {
    transform: scale(1.1)
}

.top .title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.top .title span {
    color: #ff7782;
    font-size: 15px;
}

.sideitem {
    display: flex;
    /* flex-direction: column; */
    /* height: 75vh; */
    position: relative;
    /* top: 5rem; */

}

.sideitem a {
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
    transition: all 100ms ease;
    /* transition: all 5s ease; */
    align-items: center;
    gap: 20px;
    border-radius: 0 50px 5px 0;
    height: 3.5rem;
    width: 11.5rem;
    cursor: pointer;
}

.sideitem a.active {
    background-color: rgba(132, 139, 200, 0.18);
    font-weight: 500;
    animation: activegang 0.4s ease;
    transform: translateY(10px);
    
    color: #7380ec;

}
@keyframes activegang{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(10px);
        
    }
}

.sideitem a.active:before {
    content: '';
    height: 100%;
    width: 6px;
    border-radius: 20px 0;
    background-color: #7380ec;
    margin-left: -25px;
}

.sideitem a:hover {

    /* font-weight: 500; */
    color: #7380ec;
}

/* .sideitem a:last-child {

    bottom: 1px;
    position: absolute;

} */

/* end of side bar */



.main {
   
    padding: 0 10rem;
    
}

.section {
    height: 100%;
    padding: 50px;
}

.restaurants {
    font-size: 20px;
    position: relative;
    top: 8rem;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--light);
    font-weight: 500;
    text-transform: capitalize;

}
.restaurants div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.restaurants div h1{
    font-size: 30px;
}
.restaurants p{
    margin-left: 10px;
    padding: 0 10px;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--light);
}
.restaurant {
    height: 65%;
    width: 100%;
    position: relative;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    justify-content: space-between;
    gap: 25px;
}

.restaurant .xx {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    /*padding: 10px;*/
    border-radius: 10px;
    transition: all 500ms ease;
    /*margin-bottom: 50px;
    margin-right: 10px;*/

}

.restaurant .xx:hover {
    box-shadow: 10px 15px 14px -8px rgb(40 44 63 / 50%);
}

.restaurant .xx a {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:var(--color-dark);
}
.restaurant .xx a .info{
    height: 100%;
    width: 100%;
}
.restaurant .xx a .info .pics{
    height: 59%;
    width: 100%;
}

.restaurant .xx a h1 {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 8px;



    text-transform: uppercase;

}

.restaurant .xx a span {
    font-size: 12px;
    text-transform: capitalize;
    color: var(--light);
    


}



.restaurant .xx a img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 3px;


}

/**end of main cont*/
.leftside{
    width: 100%;
}
.theme {
  
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    width:95%;
    height: 50px;

}
.theme .mode{
    background-color: var(--light);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    width: 75px;
    height: 35px;

}
.theme span {
    padding: 5px;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 200ms ease;




}

.theme .mode span.active {

    background-color: #7380ec;
    border-radius: 10px;
    color: #f6f6f9;
}

.theme .ppic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile {
    /* margin-left: 60px; */
    text-decoration: none;
    gap: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    right: 0;
}
.profile h3 {
    margin: auto 0;
    color: #363949;

}
.profile h2 {
    margin: auto 0;
    color: #ff7782;
}

.leftside .menu {
    display: none;
}

@media screen and (max-width:768px) {

    /*.nav {
        display: none;

    }

   .main {
        position: absolute;
        width: 100%;
    }

    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .lside {

        position: fixed;
        margin: 0 auto;
        width: 20rem;
        height: 5rem;
        padding-left: 50%;
        background-color: #f6f6f9;


    }

    .lside .menu {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;

    }


}

            /** phone view*/
}

@media screen and (max-width: 440px){

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color:var(--color-background);
    height: 100%;
    color: var(--color-dark);
    width: 100%;
}



    .container {
        display: block;
        width: 100%;
        position: absolute;
        height:auto;

    }

    .leftside .menu {
        display: none;
    }

    .nav {
        
        display: flex;

    }

    aside {
        bottom: 0;
        width: 100vw;
        z-index: 10001;
        position: fixed;
        height: 50px;
        box-shadow:  23px 0px 16px -5px rgb(40 44 63 / 50%);

    }

    .nav {
       
        display: flex;
        height: 50px;
        align-items: center;
        z-index: 1000;
        background-color:var(--color-background);

    }

    .top {
        display: none;
        align-items: center;
        gap: 1rem;
        margin: 20px;

    }

    .logo {
        transition: all 500ms ease;
    }

    .logo:hover {
        transform: scale(1.1)
    }

    .top .title {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
    }

    .top .title span {
        color: #ff7782;
        font-size: 15px;
    }

    .sideitem {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        position: relative;
        height: 0;
        top: 0;


    }
    

    .sideitem div {
        display: flex;
        transition: all 100ms ease;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }

    .sideitem div.active {
        background-color: rgba(132, 139, 200, 0.18);
        font-weight: 500;
        color: #7380ec;

    }

    .sideitem div.active:before {
        content: '';
        height: 100%;
        width: 8px;
        background-color: #7380ec;
        margin-left: -25px;
    }

    .sideitem div:hover {

        font-weight: 500;
        color: #7380ec;
    }

    .sideitem div:last-child {
        position: relative;

    }

    .sidebar_title {
        display: none;
    }

    /**middle section*/
    .main {
        height:auto;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .section{
        height: auto;
    }

    .restaurants {
        display:block;
        border: none;
        top: 85px;
        padding: 10px;
        margin-bottom: 40px;
    }
    .restaurants div {
        display:flex;
        border: none;
        gap: 10px;
        padding: 5px 10px;
    }
    .restaurants p{
        margin-left: 10px;
        padding: 0 10px;
        font-size: 10px;
        text-transform: capitalize;
        color: var(--light);
    }
    .restaurants div h1 {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 400;
    }

    .restaurant {
        height: auto;
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 100px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        
    }

    .restaurant .xx {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 150px;
       /* padding: 10px;*/
        border-radius: 10px;
        transition: all 500ms ease;
        /** margin-bottom: 50px;*/
        /*width: 100vw;*/



    }
    .restaurant .xx:hover {
        box-shadow:none
    }

    .restaurant .xx a {
        position: relative;
        max-width: none;
        height: 150px;
        display: flex;
        flex-direction:row;
        gap: 5px;
        align-items: center;
        text-decoration: none;
        color:var(--color-dark);
    }

    .restaurant .xx a div h1 {
        display: block;
        margin-top: 20px;
        font-size: 15px;
        margin-left:0;
        margin-bottom: 8px;



        text-transform: uppercase;

    }
    .restaurant .xx a .info{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .restaurant .xx a .info .pics{
        width:auto;
    }
    .restaurant .xx a div span {
        font-size: 12px;
        
        color: var(--light);
        margin: 0;
       


    }

   
    

    .restaurant .xx a img {
        margin-left: 10px;
        margin-top: 10px;
        width:8rem;
        height: 5rem;
        border-radius: 8px;
        max-width: none;


    }
    /** end of middle section*/
    .leftside {
        
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 56px;
        padding: 0;
        box-shadow:  23px 0px 16px -5px rgb(40 44 63 / 50%);
        background-color:var(--color-white)
    


    }
    .theme {
        padding: 5px;
        width: 100vw;
        margin:0;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content:space-between;
        height: 35px;
    
    
    }
    .theme .mode{
        margin: 0;
        margin-top:0;

        
    }
    
    .theme .mode span {
        padding: 5px;
        cursor: pointer;
    
    
    
    
    }
    
    .theme span.active {
    
        background-color: #7380ec;
        border-radius: 10px;
        color: #f6f6f9;
    }
    
    .theme .ppic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .profile {
        margin-top: 0;
        margin-left: 60px;
        gap: 10px;
        display: flex;
        align-items:center;
        justify-content: center;
        
    }
    
    .profile h2 {
        color: #ff7782;
        text-decoration: none;

    }
    
    .leftside .menu {
        display: none;
    }





}